nav {
    background-color: #a1b6f0;
    color: white;
  }
  
  nav ul {
    list-style: none;
    margin:0;
    text-align: center;
    padding: 0;
    border: solid 2px;
    border-radius: 5px;
    color: #010911;
    font-size: 20px ;
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif
    font-weight: bold;
    height: 50px;
    line-height: 50px;
  }
  
  nav li {
    display: inline-block;
    margin: 0 50px;
  }
  
  nav a {
    color: rgb(5, 28, 87);
    text-decoration: none;
    font-weight: bold;
  }

  footer {
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    background-color: #f1f1f1;
    color: black;
    text-align: center;
    padding: 20px;
  }

  header {
    width: 1000px;
    margin: 0 auto;
    text-align: left;
    font-size: 15px;
    font-family:unset;
   
    
  }
 
  main {
    margin: auto;
    width: 1000px;
	height: 170px;
    text-align: justify;
    text-justify: inter-word;
    background-color: #bfc4d1;
    font-size: 23px;
    font-family:'Times New Roman', Times, serif;
    color: rgb(12, 12, 12);
  }

  .main2 {
    margin: auto;
    width: 1000px;
	height: 250px;
    text-align: justify;
    text-justify: inter-word;
    
    font-size: 23px;
    font-family:'Times New Roman', Times, serif;
    color: rgb(12, 12, 12);
  }
  
  .main3{
    margin: auto;
    width: 1000px;
	height: 60px;
    text-align: justify;
    text-justify: inter-word;
    
    font-size: 23px;
    font-family:'Times New Roman', Times, serif;
    color: rgb(12, 12, 12);
  }
  .main4{
    margin: auto;
    width: 1000px;
	height: 70px;
    text-align: justify;
    text-justify: inter-word;
  
    font-size: 23px;
    font-family:'Times New Roman', Times, serif;
    color: rgb(12, 12, 12);
    margin-bottom: 0px
  }
  .main5{
    margin: auto;
    width: 1000px;
	height: 80px;
    text-align: justify;
    text-justify: inter-word;
    
    font-size: 23px;
    font-family:'Times New Roman', Times, serif;
    color: rgb(12, 12, 12);
    margin-bottom: 0px
  }
  

  html {
    height: 100%;
  }
  
  body{
    background-color: #dbe1ee;
    min-height: 100%;
    padding-bottom: 600px;
}

  