nav {
    background-color: #a1b6f0;
    color: white;
  }
  
  nav ul {
    list-style: none;
    margin:0;
    text-align: center;
    padding: 0;
    border: solid 2px;
    border-radius: 5px;
    color: #010911;
    font-size: 20px ;
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif
    font-weight: bold;
    height: 50px;
    line-height: 50px;
  }
  
  nav li {
    display: inline-block;
    margin: 0 50px;
  }
  
  nav a {
    color: rgb(5, 28, 87);
    text-decoration: none;
    font-weight: bold;
  }
  
  header {
    text-align: center
  }
  header {
    font-size: 30px;
    font-family:Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif
           
  }

  main {
    text-align: center;
  }

  main {
    font-size: 23px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  }
  

  mark {
    background-color: rgb(235, 243, 223);
    color: black;
    
  }
  
  body{
    background-color: #dbe1ee;
  }

  
  footer {
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    background-color: #f1f1f1;
    color: black;
    text-align: center;
    padding: 20px;
  }

  table {
    border-collapse: collapse;
    width: 100%;
  }
  th, td {
    text-align: left;
    padding: 8px;
  }
  th {
    background-color: #ccdae6;
    color: rgb(36, 1, 1);
  }
  tr  {
    background-color: #e2e7ff;
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  }

  
  

  
  